backend:
  name: git-gateway
  branch: main

media_folder: "assets/uploads"
public_folder: "/assets/uploads"

collections:
  - name: "site"
    label: "Site"
    files:
      - name: "carousel"
        label: "Carousel Images"
        file: "images.json"
        fields:
          - label: "Images"
            name: "images"
            widget: "list"
            summary: "{{fields.title}}"
            fields:
              - { label: "Title", name: "title", widget: "string", required: false }
              - { label: "Image URL", name: "src", widget: "string" }
